# Ignore Nextflow-related files
.nextflow*

# Ignore work directory
work/*

# Ignore gmwi2_results directory
gmwi2_results/

# Ignore design.csv
*.csv

# Ignore local config file
conf/local.config

# Ignore test files
*test*

# Ignore git-related files
.gitignore