// Define pipeline parameters such as output directory and database paths
params {
  outdir = './gmwi2_results'
  tool = 'gmwi2'
  dysbiosis_mode = 'full'
  humann_nucleotide_db = 'chocophlan'
  humann_protein_db = 'uniref'
}

env {
    XDG_CONFIG_HOME ="./xdgconfig"
    MPLCONFIGDIR    ="./mplconfigdir"
    NUMBA_CACHE_DIR ="./numbacache"
}

// Profile configuration
profiles {
  slurm { includeConfig 'conf/slurm.config' }
  local { includeConfig 'conf/local.config' }
  aws   { includeConfig 'conf/aws.config'   }
}

// Database profile configuration
includeConfig 'conf/database.config'
