// Define pipeline parameters such as output directory and database paths

params {
  outdir = './gmwi2_results'
}

// Specify resource requirements for specific processes
process {
  cpu = 8
  memory = '32 GB'
  time = '8h'
  cache = true
  errorStrategy = 'retry'
  maxRetries = 3
  maxForks = 10
}

// Profile configuration
profiles {
  slurm { includeConfig 'conf/slurm.config' }
  local { includeConfig 'conf/local.config' }
  aws   { includeConfig 'conf/aws.config'   }
}

// Database profile configuration
includeConfig 'conf/database.config'
