params {
    metaphlan_db = "${params.database_location}/metaphlan-databases/"
    genome_db = "${params.database_location}/genome-databases/GRCh38_noalt_as/"
    marker_db    = "${params.database_location}/marker-databases/gmrepo_254_unique.csv"
    nucleotide_db = "${params.database_location}/human-databases/${params.humann_nucleotide_db}/"
    protein_db = "${params.database_location}/protein-databases/${params.humann_protein_db}/"
    dysbiosis_model = "${params.database_location}/q2-predict-dysbiosis/data/"
}