// Nextflow configuration file for the GMWI2 pipeline
params {
    partition = null
    database_location = '/mnt/shared/kmcclary/io-pipeline-shotgun/io-pipeline-references'
}

process {
    executor = 'slurm'
    queue = params.partition
    scratch = true
    scratch = "$baseDir/work/scratch"
}

apptainer.enabled = true
docker.enabled = false
conda.enabled = true